@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Signika', sans-serif;
  font-size: 1.1rem;
  color: #333;

  margin: 0;
}

#root {
  // height: 100vh;
}

// .mainDiv {
//   height: 100%;
// }

.info {
  box-sizing: border-box;
  background-color: rgb(168, 213, 250);
  border: 2px solid rgb(59, 150, 211);

  padding: 0.2rem 0.5rem;
  margin: 0 1rem;
  font-size: 1.1rem;
  text-align: center;
}

textarea {
  line-height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #eee;
  resize: none;
  width: 100%;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 0.5rem;

  &:focus {
    outline: none;
  }
}

button {
  &:not(:disabled):hover {
    background-color: #ddd;
  }
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
}

input {
  text-align: center;
  width: 80%;
  padding: 0.3rem 0.5rem;
  transition: 0.2s all ease;
  border: 1px solid #ddd;
  font-weight: 500;
  color: #333;

  &:focus,
  &:focus-within {
    border: 1px solid rgb(230, 177, 97);
    background-color: rgb(255, 228, 185);
    outline: none;
  }
  &:disabled {
    background-color: #ddd;
    color: #888;
  }
}

table {
  width: 100%;
}
th,
td {
  text-align: left;
  padding-left: 0.5rem;
}

.small-input {
  display: flex;
  input {
    box-sizing: border-box;
    max-width: 10rem;
  }
}

.topbar {
  box-sizing: border-box;
  max-width: 100%;
  background-color: #f5f5f5;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  .postCreator {
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }

  button {
    align-self: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
  }
  .create {
    font-size: 1.3rem;
  }

  .textareaTopbar {
    flex-grow: 1;
  }
}

.welcome {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: whitesmoke;
  max-width: 500px;
  padding: 2rem 0;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;

  h1,
  h2 {
    margin: 0;
  }

  section {
    display: flex;
    gap: 1rem;
  }

  button {
    padding: 0.5rem 2rem;
    color: #333;
    font-weight: 500;
    border: 1px solid #333;
    background-color: white;
    transition: all 0.2s ease;
    &:hover {
      background-color: rgb(118, 221, 114);
    }
  }
}

.form {
  box-sizing: border-box;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  max-width: 500px;
  padding: 1rem 0 0;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.submitBtn:hover:not(:disabled),
.reload:hover {
  filter: saturate(120%) drop-shadow(-0px 2px 5px #aaa);
  cursor: pointer;
}

.submitBtn {
  background-color: rgb(118, 221, 114);
  border: none;
  padding: 1rem;
  align-self: stretch;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600;

  &:disabled {
    background-color: rgb(206, 139, 139);
    color: #ddd;
  }
}

.reload {
  background-color: rgb(247, 182, 84);
  border: none;
  padding: 1rem;
  align-self: stretch;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 600;
  -webkit-animation: pulsate-fwd 0.3s ease-in-out both;
  animation: pulsate-fwd 0.3s ease-in-out both;
}

.sideBySide {
  display: flex;
  height: 100vh;
  gap: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  min-width: fit-content;
  p {
    margin: 0.2rem;
  }
  button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }
  .control-pannel {
    flex-grow: 1;
  }

  .sidebar-btn-cnt {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
  }
}

.avatar-cnt {
  position: relative;
}

.editAvatar {
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: 20;
  background-color: rgba(250, 250, 250, 0.7);
  transition: all 0.2s ease;
  &:hover {
    background-color: #e9e9ed;
  }
}

.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  flex-grow: 1;
  max-height: 100%;
  overflow-y: scroll;

  li {
    list-style: none;
  }

  button {
    font-size: 1rem;
  }
}

.select {
  max-width: 15rem;
  border: 1px solid #ddd;
  padding: 0.3rem 0.5rem;
  background: #fff;
  font-family: inherit;
  font-size: 1.1rem;
}

.post {
  margin: 1rem 0;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  span {
    font-size: 0.8rem;
    color: #aaa;
  }

  .cntBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #555;

    button {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 0.2rem 0.5rem;
    }
  }

  .postContent {
    font-size: 1.3rem;
  }

  h3 {
    color: #555;
    margin: 0;
  }
}

.confirmModal {
  background-color: #ce8b8b;
  border-radius: 5px;
  border: 1px solid #ce6b6b;
  padding: 0.2rem 1rem;
  text-align: center;

  .cntBtn {
    justify-content: space-evenly;
  }
}

.liked {
  color: #fff;
  background-color: rgb(59, 150, 211);
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

.edit {
  max-height: 90%;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  span {
    margin: 0 1rem;
  }
  .submitBtn,
  .reload {
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}

.closeBtn {
  position: absolute;
  right: 1rem;
  border-radius: 10px !important;
  padding: 0.3rem 0.7rem !important;
  // color: white;
  //transition: all 0.2s ease;
  //background-color: #ce8b8b;
  &:hover {
    filter: saturate(150%);
  }
}
.editPostBtn,
.deletePostBtn,
.saveChangeBtn {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0.3rem 0.7rem;
  // color: white;
  //transition: all 0.2s ease;
  // &:hover {
  //   filter: saturate(120%) drop-shadow(-0px 2px 5px #aaa);
  //   border: none;
  // }
}

.deletePostBtn:hover {
  background-color: #cf7878;
  // &:hover {
  //   filter: saturate(150%) drop-shadow(-0px 2px 5px #aaa);
  // }
}

.editPostBtn:hover {
  background-color: rgb(247, 182, 84);
}

.saveChangeBtn {
  margin-top: 1rem;
  float: right;
  &:hover {
    background-color: rgb(118, 221, 114);
  }
}

.topbarPost {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.cntTopBtn {
  // position: absolute;
  // right: 10px;
  display: flex;
  gap: 0.5rem;
}

.commentSection {
  margin-top: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0.5rem 1rem;
  span {
    color: #333;
  }
  .addCommentCnt {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    textarea {
      flex-grow: 1;
    }
    button {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 0.2rem 0.5rem;
    }
  }
}

.comment {
  border-left: 3px solid #aaa;
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;
  max-width: 300px;
  p {
    margin: 0;
  }

  span {
    padding-right: 0.5rem;
    color: #aaa;
  }
}

.editModal {
  margin-bottom: 1rem;
}

.avatarModal {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-height: 90%;
  z-index: 11;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
  animation: pulsate-fwd 0.5s ease-in-out both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: slide-in-left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-14 11:44:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
